# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env
!.env*.example

# Code coverage
coverage

# Uploads and temporary files
src/uploads
scripts

# Logs
error.txt
server.txt